<div class="beer_bottle">
  <div class="row">
    <div class="col-md-4">
      <div class="beer_img_holder">
          <img src="assets/images/beer.jpg">
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-9">
            <h2 class="brown">{{beer.name}}</h2>
            <b>{{beer.style}}</b>
            <div class="alcohol">
                Alcohol : <b class="brown">{{beer.abv*100 | number}}%</b>
            </div>
            <div class="cta">
              <button class="btn brown_background">Purchase <i class="fas fa-beer"></i></button>
              <button class="btn blue_color">View </button>
            </div>
        </div>
        <div class="col-3">
            <div class="ounces">
              <div class="number">
                  {{beer.ounces}}
              </div>
              <div class="tag">
                <b>Ounces</b>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>